<app-base-field [formGroup]="form" [name]="'Получатель'" [description]="'Фамилия или организация'">
    <input 
        type="text"
        placeholder="ФАМИЛИЯ ПОЛУЧАТЕЛЯ ИЛИ ОРГАНИЗАЦИЯ"
        formControlName="value"
        [ngClass]="{'invalid-input': invalid}"/>
    <div class="is-organization-container">
        <input
            type="checkbox"
            id="isOrganization"
            formControlName="isOrganization">
        <label for="isOrganization">Организация</label>
    </div>
</app-base-field>
